
<!-- RIGHT SIDE -->
<div class="rm-right">

  <app-backcover></app-backcover>

    <!-- CONTACT PAGE -->
    <div id="contact" class="rm-back page">
                              
        <!-- .antiscroll-wrap -->
        <div class="antiscroll-wrap">
            <!-- .antiscroll-inner -->
            <div class="antiscroll-inner">

                <!-- CONTENT -->
                <div class="content">
                  
                    
                    <h2><span>CONTACT</span></h2>
                          
                      <p class="center">N'hésitez pas à communiquer avec moi pour tous commentaires constructifs, questions ou suggestions.</p>
                      
                      <h3><span>MES RESEAUX</span></h3>
                      
                      <!-- SOCIAL -->
                      <ul class="social">
                        <li><a target="blank" class="github" href="https://github.com/RubenCardozo"></a></li>
                        <li><a target="blank" class="linkedin" href="www.linkedin.com/in/ruben-cardozo"></a></li>
                        <li><a target="blank" class="twitter" href="https://twitter.com/poissonenrage"></a></li>
                      </ul>
                      <!-- SOCIAL -->
                      
                      
                      <h3><span>ENVOIE-MOI UN EMAIL!</span></h3>
                      
                      <!-- .contact-form -->
                      <div class="contact-form">
                          
                        
                          <!-- LETTER -->
                          <div class="letter cf">
                          
                            <div class="stamp">
                              <img src="assets/images/site/stamp-image.jpg" alt="stamp">
                            </div>
                          
                            <div class="letter-info">
                              <h4>Rubén Cardozo</h4>
                                <p><a href="#"><i>ruben@cardozo.ch</i></a></p>
                                <p>Vernier - Genève</p>
                            </div>
                            
                          </div>    
                          <!-- LETTER -->
                          
                        
                          <form id="contact-form" action="https://formspree.io/ruben@cardozo.ch" method="post">
                            
                            <!-- enter your e-mail address here -->
                            <input type="hidden" id="to" name="to" value="ruben@cardozo.ch">
                            
                            <p>
                              <label for="name">Nom</label>
                              <input type="text" name="name" id="name" class="required">
                            </p>
                            
                            <p>
                              <label for="email">Email</label>
                              <input type="text" name="email" id="email" class="required email">
                            </p>
                            
                            <p>
                              <label for="subject">Objet</label>
                              <input type="text" name="subject" id="subject" class="required">
                            </p>
                            
                            <p>
                              <label for="message">Message</label>
                              <textarea name="message" id="message" class="required"></textarea>
                            </p>
                          
                            <p>
                              <img class="ajax-loader" src="assets/images/bckg/loader_light.gif" alt=" ...">
                              <input type="submit" class="btn submit" value="ENVOYER">
                            </p>
                            
                          </form>
                          
                      </div>
                      <!-- .contact-form -->
            
                </div>
                <!-- CONTENT -->
                
        </div>
        <!-- .antiscroll-inner -->
    </div>
    <!-- .antiscroll-wrap -->


    <!-- close link -->
    <a class="rm-close"><span></span></a>
    <!-- close link -->
        
        
    </div><!-- /rm-back -->
</div><!-- /rm-right -->

<!-- CONTACT PAGE -->
