<!-- COVER PAGE -->
<div id="home" class="rm-front page">
                                
    <!-- .antiscroll-wrap -->
    <div class="antiscroll-wrap">
        <!-- .antiscroll-inner -->
        <div class="antiscroll-inner">
            
            <!-- COVER IMAGE -->
            <div class="cover">
                 
                <!-- cover-image-holder -->
                <div class="cover-image-holder">
                  <img src="../../../assets/images/site/cover1.jpg" alt="cover-image">
                </div>
                <!-- cover-image-holder -->
                
                <!-- title -->
                <h1>RUBEN CARDOZO</h1>
                <!-- title -->
                
                <!-- slogan -->
                <h2>Développeur WEB - Mobile - Logiciel</h2>
                <!-- slogan -->
                
                <!-- extra titles -->
                <h3><span>CREATION DE SITES</span>HTML5 CSS3 JAVASCRIPT</h3>
                <h3><span>CREATION DE APPS</span>ANDROID IOS</h3>
                <h3><span>PROGRAMATION</span>C# ASP.NET UWP</h3>
                <!-- extra titles -->
                
                <!-- open link -->
                <a href="#/resume" class="rm-button-open ribbon">
                    <span class="ribbon-stitches-top"></span>
                    <strong class="ribbon-content">AUVRIR</strong>
                    <span class="ribbon-stitches-bottom"></span>
                </a>
                <!-- open link -->
                
                
                <!-- latest-from-blog -->
                <div class="latest-from-blog">
                  <h3>A l'une 
                      <a class="button2" href="blog.html">Posts</a></h3>
                    <div class="blog-bar">
                      <h2><a href="blog-single.html">Toujours Dispo a de Nouvelles Aventures</a></h2>
                    </div>
                </div>
                <!-- latest-from-blog -->
                
                <!-- widget : twitter -->
                <aside class="widget widget-twitter">
                  <a href="https://twitter.com/envato" class="twitter-link" target="_blank" ></a>
                    <div id="twitter-list"></div>
                </aside>
                <!-- widget : twitter -->
                
                
            </div>
            <!-- COVER IMAGE -->
            
            
            
            
      </div>
      <!-- .antiscroll-inner -->
    </div>
    <!-- .antiscroll-wrap -->

</div>
<!-- COVER PAGE -->